@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@200;300;500;600&display=swap');

body {
    margin: 0;
    font-family: "Roboto",sans-serif;
   
}

/* .brand-name
{
font-weight: bold;
margin-left:3rem;
}
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: black;
   box-shadow:15px;
}

.category-name {
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
 }

.nav-categories {
    margin-left: auto;
   
}

.nav-icons {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 3rem;
}
.nav-categories
{
 
  margin-left: auto;
  
}
.nav-categories :hover
{
    border-bottom: 3px solid #4F7942;
    
}

.nav-icons>* {
    margin-left: 1rem;
    margin-right: 1rem;
}
.footwear-container
{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem;
    gap: 1rem;
    cursor: pointer;
} */
.login-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
}
#email-auth
{
    padding: 0.5rem;
    width: 30%;
}
#password-auth
{
    padding: 0.5rem;
    width: 30%;
}
.login-button
{
    padding: 0.2rem ;
    width:30%;
    background-color: #7b9b71;
    border: none;
    border-radius: 0.3rem;
    cursor:pointer
}
/* a{
    text-decoration: none;
    color: black;
} */
.sign-up-link
{
    color: #7b9b71;

}
.guest-credentials-link
{
  color:black;
  padding: 0.8rem;
  border: 2px solid #7b9b71;
  
}
.guest-credentials-link:hover{
    color: white;
    background-color: #7b9b71;
    cursor: pointer;

}
    